Django==1.7.4
PyYAML==3.11
SQLAlchemy==1.1.13
amqp==1.4.6
anyjson==0.3.3
argparse==1.2.1
bcdoc==0.12.2
billiard==3.3.0.19
boto==2.35.2
botocore==0.84.0
celery==3.1.17
colorama==0.2.5
dj-database-url==0.3.0
dj-static==0.0.6
django-appconf==0.6
django-compress==1.0.1
django-compressor==1.4
django-extensions==1.4.6
django-pipeline==1.4.5
django-postgrespool==0.3.0
django-staticfiles==1.2.1
django-storages==1.1.8
django-utils==0.0.2
docutils==0.12
futures==3.1.1
gunicorn==19.1.1
jmespath==0.5.0
kombu==3.0.37
psycopg2==2.5.4
pyasn1==0.1.7
pyserial==2.7
python-dateutil==2.4.0
pytz==2014.10
rcssmin==1.0.6
requests==2.4.3
rjsmin==1.0.12
rsa==3.1.2
six==1.9.0
sqlparse==0.1.14
static3==0.7.0
whitenoise==1.0.6
wsgiref==0.1.2
