Django==1.7.4
PyYAML==3.11
amqp==1.4.6
anyjson==0.3.3
billiard==3.3.0.19
celery==3.1.17
django-extensions==1.4.6
django-compress==1.0.1
django-pipeline==1.4.5
django-appconf==0.6
django-compressor==1.4
pyserial==2.7
pytz==2014.10
requests==2.4.3
sqlparse==0.1.14
argparse==1.2.1
gunicorn==19.1.1
psycopg2==2.5.4
dj-database-url==0.3.0
django-postgrespool==0.3.0
whitenoise==1.0.6
django-storages==1.1.8
boto==2.35.2
bcdoc==0.12.2
botocore==0.84.0
colorama==0.2.5
docutils==0.12
jmespath==0.5.0
pyasn1==0.1.7
python-dateutil==2.4.0
rsa==3.1.2
six==1.9.0
dj-static==0.0.6
