<!DOCTYPE HTML>

<html>
	<head>
		<title>Wellness</title>
		<meta name="description=" content="Cleveland Rocks is a rock climbing gym based in downtown Cleveland, Ohio.">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../../static/css/main.css" />
		<!-- Facebook Pixel Code -->
		<script>
		  !function(f,b,e,v,n,t,s)
		  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
		  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
		  n.queue=[];t=b.createElement(e);t.async=!0;
		  t.src=v;s=b.getElementsByTagName(e)[0];
		  s.parentNode.insertBefore(t,s)}(window, document,'script',
		  'https://connect.facebook.net/en_US/fbevents.js');
		  fbq('init', '1737467493140154');
		  fbq('track', 'PageView');
		</script>
		<noscript><img height="1" width="1" style="display:none"
		  src="https://www.facebook.com/tr?id=1737467493140154&ev=PageView&noscript=1"
		/></noscript>
		<!-- End Facebook Pixel Code -->

	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="logo"></div>
				<a href="#menu" class="toggle"><span>Menu</span></a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/wellness">Wellness</a></li>
					<li><a href="/technology">Technology</a></li>
					<li><a href="/community">Community</a></li>
				</ul>
			</nav>

		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div class="box">
						<div class="image fit">
							<img src="../../static/images/community.png" alt="" />
						</div>
						<div class="content">
							<header class="align-center">
								<h2>Community</h2>
								<p style="color:black;">Providing a Space for Community</p>
							</header>
							<hr>
							<p style="color:black;"> Cleveland Rocks is dedicated to providing space for community to develop. Cleveland Rocks will have over 10,000 sqft dedicated to community space. Our goal is to support any local community groups and provide space for future ones. Anything from meet ups, block clubs, local organizations, and/or running clubs will find a home at Cleveland Rocks. Let us know if you have an event or meet up you want to host at our location we will be happy to oblige. We will be leading by example and will be starting a few community groups. These include rock climbing youth team, scholarships to use the center, and technology community groups.  </p>
						</div>
					</div>
				</div>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper style3">
				<div class="inner">

					<header class="align-center">
						<h2>Community through </h2>
						<p>Our goal is to bring like minded individuals under the same roof and create meaningful connections between these individuals. </p>
					</header>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer" class="wrapper">
				<div class="inner">
					<section>
						<div class="box">
							<div class="content">
								<h2 class="align-center">Get in Touch</h2>
								<hr />
								<form action="" method="post" >

									{% csrf_token %}

									<div class="field half first">
										<label for="name" style="font-size:20px;">Name</label>
										{{ form.name }}
									</div>
									<div class="field half">
										<label for="email" style="font-size:20px;">Email</label>
										<input name="email" id="email" type="email" placeholder="Email">
									</div>

									<div class="field">
										<label for="message" style="font-size:20px;">Message</label>
										{{ form.message }}
									</div>
									<ul class="actions align-center">
										<li><input value="Send Message" class="button special" type="submit"></li>
									</ul>

								</form>
							</div>
						</div>
					</section>

				</div>
			</footer>

		<!-- Scripts -->
			<script src="../../static/js/jquery.min.js"></script>
			<script src="../../static/js/jquery.scrolly.min.js"></script>
			<script src="../../static/js/jquery.scrollex.min.js"></script>
			<script src="../../static/js/skel.min.js"></script>
			<script src="../../static/js/util.js"></script>
			<script src="../../static/js/main.js"></script>

	</body>
</html>
