<!DOCTYPE HTML>

<html>
	<head>
		<title>Cleveland Rocks - Rock Climbing in Cleveland, Ohio</title>
		<meta name="description=" content="Cleveland Rocks is a rock climbing gym based in downtown Cleveland, Ohio.">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../../static/css/main.css" />
		<link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab" rel="stylesheet">
		<style>

		h1 { font-family: 'Roboto Slab', serif;
		}

		h2 { font-family: 'Roboto Slab', serif;
		}

		p {
			font-family: 'Raleway', sans-serif;
			font-size:15px;
		}

		ul {
			font-family: 'Raleway', sans-serif;
		}
		</style>
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">

				<a href="#menu" class="toggle"><span>Menu</span></a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/wellness">Wellness</a></li>
					<li><a href="/technology">Technology</a></li>
					<li><a href="/community">Community</a></li>
				</ul>
			</nav>

		<!-- Banner -->

			<section id="banner" data-video="images/banner" style="background-image:url(../../static/images/building.jpg);">
				<div class="inner">
					<h1>Cleveland Rocks</h1>
					<p>A world class climbing gym in the Ohio City District, Cleveland, Ohio. </p>
					<br />
						<!-- <div style="margin-height:100px;">
					<a href="#one" class="button special scrolly">Learn More</a>
				</div> -->
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div>
						<div class="box">
							<div class="image fit">
								<img src="../../static/images/second.jpg" alt="" />
							</div>
							<div class="content">
								<header class="align-center">
									<h1 style="font-size:50px;">Ohio City, 2018 </h1>
									<p>Get ready, something big is coming. </p>
								</header>
								<hr />
								<p	 style = "color:black;margin:0 50px;margin-bottom:70px;"> Cleveland Rocks is rehabilitating a historical building in Ohio City. The historical Franklin Masonic Center was built in 1926 and until recently was used by the Masons. It is on of the largest climbing gyms in Ohio and offers additional amenities including a 24-hour workout gym, yoga studio, workout classes and other health/wellness resources. Other activities will be a technology education center and a non-profit dedicated to providing as much impact to the immediate area as possible. Our goal is singular, to make a safe, fun place for active like-minded people to find community.

								</p>

								<ul style = "color:black;">
									<li style="margin:0 50px;margin-bottom:20px;">
								 Cleveland Rocks is a world-class climbing facility with 18,000 square feet of climbing, a glass skyroof, and some of the tallest climbing walls in Ohio. The gym will be complemented copious natural lighting and state of the art equipment.
								 <br>
							 </li>
<li style="margin:0 50px;margin-bottom:20px;">
	The climbing walls will be built for participants of all skill levels. No matter if you are a first-time climber or have been climbing for a decade there will be more than enough climbing for everyone. The climbing will include lead, top rope, auto-belay walls, youth-specific climbing features, and bouldering.
<br>
</li>

<li style="margin:0 50px;margin-bottom:20px;">
	Inside, there are climbing areas for everyone. From beginner auto-belay walls to our top roping room, lead climbing pit, and two bouldering areas. The Kid Zone is built for kids, fun for everyone. For the more experienced, there is a training area featuring a campus, moon, and adjustable wall.
<br>
</li>

</ul>
							</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style3">
				<div class="inner">
					<div id="flexgrid">
						<div>
							<header>
								<h1 style="font-size:30px;">Health/Wellness</h1>
							</header>
							<p>Cultivate a culture of being active:  </p>
								<ul style ="text-align:left;">

									<li>
										The Largest Rock Climbing Gym in Ohio
									</li>
									<li>
										Yoga Studio
									</li>
									<li>
										Free Weights/Workout Studio
									</li>
									<li>
										Personal Coaches
									</li>

									<li>
										A Greenhouse/Permaculture
									</li>
									<li>
										Exercise Classes (Crossfit, Acro-yoga, spinning)
									</li>

								</ul>
							</p>
							<ul class="actions">
								<li><a href="/wellness" class="button alt">Learn More</a></li>
							</ul>
						</div>
						<div>
							<header>
								<h1 style="font-size:30px;"> Technology </h1>
							</header>

							<p>Invested in the Future: </p>
							<ul style ="text-align:left;">

								<li>
									Makerspace
								</li>
								<li>
									Software Development Classes
								</li>
								<li>
									Youth Based Coding Camps
								</li>
								<li>
									Technology Mentors
								</li>
								<li>
									Tech Incubator
								</li>
								<li>
									Co-Working
								</li>


							</ul>
							<ul class="actions">
								<li style = "margin-top:20px;"><a href="/technology" class="button alt">Learn More</a></li>
							</ul>
						</div>
						<div>
							<header>
								<h1 style="font-size:30px;"> Community </h1>
							</header>
							<p>Dedicated to Locality: </p>
							<ul style ="text-align:left;">

								<li>
									Community Space
								</li>
								<li>
									Scholarship Programs
								</li>
								<li>
									Youth Summer Coding Camps
								</li>
								<li>
									Bluegrass Nights
								</li>
								<li>
									Incubator/Technology Center
								</li>
								<li>
									Retail featuring local products
								</li>

							</ul>
							<ul class="actions">
								<li style = "margin-top:15px;"><a href="/community" class="button alt">Learn More</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>

			<footer id="footer" class="wrapper">
				<div class="inner">
					<section>
						<div class="box">
							<div class="content">
								<h2 class="align-center">Join our mailing list!</h2>
								<hr />
								<form action="" method="post" >

									{% csrf_token %}

									<div class="field half first">
										<label for="name" style="font-size:20px;">Name</label>
										{{ form.name }}
									</div>
									<div class="field half">
										<label for="email" style="font-size:20px;">Email</label>
										<input name="email" id="email" type="email" placeholder="Email">
									</div>

									<div class="field">
										<label for="message" style="font-size:20px;">Message</label>
										{{ form.message }}
									</div>
									<ul class="actions align-center">
										<li><input value="Send Message" class="button special" type="submit"></li>
									</ul>

								</form>
							</div>
						</div>
					</section>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="../../static/js/jquery.min.js"></script>
			<script src="../../static/js/jquery.scrolly.min.js"></script>
			<script src="../../static/js/jquery.scrollex.min.js"></script>
			<script src="../../static/js/skel.min.js"></script>
			<script src="../../static/js/util.js"></script>
			<script src="../../static/js/main.js"></script>

	</body>
</html>
