<!DOCTYPE HTML>
<!--
	Transitive by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Cleveland Rocks</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../../static/css/main.css" />
		<link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab" rel="stylesheet">
		<style>

		h1 { font-family: 'Roboto Slab', serif;
		}

		h2 { font-family: 'Roboto Slab', serif;
		}

		p {
			font-family: 'Raleway', sans-serif;
			font-size:15px;
		}

		ul {
			font-family: 'Raleway', sans-serif;
		}
		</style>
		<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1737467493140154');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1737467493140154&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<!-- <div class="logo"><a href="index.html">Transitive <span>by TEMPLATED</span></a></div> -->
				<a href="#menu" class="toggle"><span>Menu</span></a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/wellness">Wellness</a></li>
					<li><a href="/technology">Technology</a></li>
					<li><a href="/community">Community</a></li>
				</ul>
			</nav>

		<!-- Banner -->
		<!--
			To use a video as your background, set data-video to the name of your video without
			its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
			formats to work correctly.
		-->
			<section id="banner" data-video="images/banner" style="background-image:url(../../static/images/cover1.jpg);">
				<div class="inner">
					<h1>Cleveland Rocks</h1>
					<p>A health and wellness center dedicated to inspiring the mind, body, and soul. </p>
					<br />
						<div style="margin-height:100px;">
					<a href="#one" class="button special scrolly">Learn More</a>
				</div>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner" id="thanks" style="text-align:center;font-size:40px;color:black;">
					Thank you for subscribing!
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style3">
				<div class="inner">
					<div id="flexgrid">
						<div>
							<header>
								<h1 style="font-size:30px;">Health/Wellness</h1>
							</header>
							<p>Cultivate a culture of being active:  </p>
								<ul style ="text-align:left;">

									<li>
										The Largest Rock Climbing Gym in Ohio
									</li>
									<li>
										Yoga Studio
									</li>
									<li>
										Free Weights/Workout Studio
									</li>
									<li>
										Personal Coaches
									</li>

									<li>
										A Greenhouse/Permaculture
									</li>
									<li>
										Exercise Classes (Crossfit, Acro-yoga, spinning)
									</li>

								</ul>
							</p>
							<ul class="actions">
								<li><a href="/wellness" class="button alt">Learn More</a></li>
							</ul>
						</div>
						<div>
							<header>
								<h1 style="font-size:30px;"> Technology </h1>
							</header>

							<p>Invested in the Future: </p>
							<ul style ="text-align:left;">

								<li>
									Makerspace
								</li>
								<li>
									Software Development Classes
								</li>
								<li>
									Youth Based Coding Camps
								</li>
								<li>
									Technology Mentors
								</li>
								<li>
									Tech Incubator
								</li>
								<li>
									Co-Working
								</li>


							</ul>
							<ul class="actions">
								<li style = "margin-top:20px;"><a href="/technology" class="button alt">Learn More</a></li>
							</ul>
						</div>
						<div>
							<header>
								<h1 style="font-size:30px;"> Community </h1>
							</header>
							<p>Dedicated to Locality: </p>
							<ul style ="text-align:left;">

								<li>
									Community Space
								</li>
								<li>
									Scholarship Programs
								</li>
								<li>
									Youth Summer Coding Camps
								</li>
								<li>
									Bluegrass Nights
								</li>
								<li>
									Incubator/Technology Center
								</li>
								<li>
									Retail featuring local products
								</li>

							</ul>
							<ul class="actions">
								<li style = "margin-top:15px;"><a href="/community" class="button alt">Learn More</a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>

		<!-- Three -->
			<!-- <section id="three" class="wrapper style2">
				<div class="inner">
					<div class="grid-style">

						<div>
							<div class="box">
								<div class="image fit">
									<img src="../../static/images/pic02.jpg" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<h2>Article 1 </h2>
										<p>maecenas feugiat ex purus, quis volutpat lacus placerat</p>
									</header>
									<hr />
									<p> Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada. Praesent in sem ex. Morbi mattis sapien pretium tellus venenatis, at egestas urna ornare.</p>
								</div>
							</div>
						</div>

						<div>
							<div class="box">
								<div class="image fit">
									<img src="../../static/images/pic03.jpg" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<h2>Article 2</h2>
										<p>mattis sapien pretium tellus venenatis</p>
									</header>
									<hr />
									<p> Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada. Praesent in sem ex. Morbi mattis sapien pretium tellus venenatis, at egestas urna ornare.</p>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>


			<section id="four" class="wrapper style3">
				<div class="inner">

					<header class="align-center">
						<h2>Heading</h2>
						<p>Content</p>
					</header>

				</div>
			</section> -->

		<!-- Footer -->
			<footer id="footer" class="wrapper">
				<div class="inner">

				</div>
			</footer>

		<!-- Scripts -->
			<script src="../../static/js/jquery.min.js"></script>
			<script src="../../static/js/jquery.scrolly.min.js"></script>
			<script src="../../static/js/jquery.scrollex.min.js"></script>
			<script src="../../static/js/skel.min.js"></script>
			<script src="../../static/js/util.js"></script>
			<script src="../../static/js/main.js"></script>

	</body>
</html>
