<!DOCTYPE HTML>

<html>
	<head>
		<title>Wellness</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../../static/css/main.css" />
		<meta name="description=" content="Cleveland Rocks is a rock climbing gym based in downtown Cleveland, Ohio.">
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="logo"></div>
				<a href="#menu" class="toggle"><span>Menu</span></a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/wellness">Wellness</a></li>
					<li><a href="/technology">Technology</a></li>
					<li><a href="/community">Community</a></li>
				</ul>
			</nav>

		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div class="box">
						<div class="image fit">
							<img src="../../static/images/yoga.jpeg" alt="" />
						</div>
						<div class="content">
							<header class="align-center">
								<h2>Health & Wellness </h2>
								<p>Wellness for all ages</p>
							</header>
							<hr />
							<p style="color:black;">Cleveland Rocks is dedicated to providing a family-friendly atmosphere and work to cultivate a culture of living well. Between the rock climbing, weightlifting, and courses we will have an option for all styles of workouts. Our goal is to make provide a community and make exercising fun. Quality instructors will be available for more structured work outs. All the amenities of the center will be available for a single monthly cost. If you want to come in for a one time, visit day passes will be available as well. </p>
								<p style="color:black;">Ohio City has already begun it's active lifestyle movement. There are a few green spaces and a yoga studio in the area. We plan to buttress the amenities already available in the area and help make our center a key center for an active-lifestyle in Cleveland. We plan to make a world class center and provide a community that espouses the most impactful programming possible.  </p>
						</div>
					</div>
				</div>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper style3">
				<div class="inner">

					<header class="align-center">
						<h2>Promote a Healthy Lifestyle</h2>

						<p style="color:white;">Cleveland Rocks will cultivate a culture that starts with individuals and ends with the community. We understand that the equipment and amenities only go so far. The culture and community is what drives a healthy lifestyle. Cleveland Rocks works to bring like-minded individuals under the same roof so that people can meet, interact, and be inspired by each other. Our goal is to bring the community together under one roof. </p>
					</header>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer" class="wrapper">
				<div class="inner">
					<section>
						<div class="box">
							<div class="content">
								<h2 class="align-center">Get in Touch</h2>
								<hr />
								<form action="" method="post" >

									{% csrf_token %}

									<div class="field half first">
										<label for="name" style="font-size:20px;">Name</label>
										{{ form.name }}
									</div>
									<div class="field half">
										<label for="email" style="font-size:20px;">Email</label>
										<input name="email" id="email" type="email" placeholder="Email">
									</div>

									<div class="field">
										<label for="message" style="font-size:20px;">Message</label>
										{{ form.message }}
									</div>
									<ul class="actions align-center">
										<li><input value="Send Message" class="button special" type="submit"></li>
									</ul>

								</form>
							</div>
						</div>
					</section>

				</div>
			</footer>

		<!-- Scripts -->
			<script src="../../static/js/jquery.min.js"></script>
			<script src="../../static/js/jquery.scrolly.min.js"></script>
			<script src="../../static/js/jquery.scrollex.min.js"></script>
			<script src="../../static/js/skel.min.js"></script>
			<script src="../../static/js/util.js"></script>
			<script src="../../static/js/main.js"></script>

	</body>
</html>
